{include file='public/head'}
{include file='public/nav' /}
<div class="login_page" style="height: 91%">
    <h1>欢迎使用</h1>
    <form class="" style="padding-left: 40%; padding-top: 15%;">
        <div class="layui-form-item">
            <div class="layui-input-inline input-custom-width">
                <input type="text" id="username" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline input-custom-width">
                <input type="password" id="password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
              <button class="layui-btn" onclick="submit()">立即登陆</button>
            </div>
        </div>
    </form>
</div>
<script>
	function submit(){
		alert(23423)
		var name = $("#username").val();
		var password = $("#password").val();
		console.log(name)
		alert(name)
		console.log(password)
		$ajax({
			type:"post",
			url:,
			data:{},
			success:function(res){

			},
			error:function(res){

			}
		});
	}
	
</script>

{include file='public/footer' /}