*{
    margin: 0;
    padding: 0;
}
.nav{
    width: 100px;
    height: 200px;
    border: 1px solid green;
}
.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu ul li{
    float: left;
    position: relative;
}

.menu ul li a, .menu ul li a:visited{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 104px;
    height: 30px;
    color: #000;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0;
    background: #c9c9a7;
    line-height: 30px;
    font-size: 11px;
}
/*隐藏二级菜单ul*/
.menu ul li ul{
    display: none;
}/*隐藏结束*/

.menu ul li:hover a{
    color: #fff;
    background: #b3ab79;
}
/*显示二级菜单*/
.menu ul li:hover ul{
    display: block;
    position: relative;
    /*top: 31px;*/
    left: 0px;
    width: 105px;
}/*结束*/

/*添加二级菜单鼠标移过的样式*/
.menu ul li:hover ul li a{
    display: block;
    background: #faeec7;
    color: #000;
    width: 104;
}
.menu ul li:hover ul li a:hover{
    background: #dfc184;
    color: #000;
}

.content{
    width: 50%;
    height: auto;
    /*border: 1px solid red;*/
    margin-left: 5%;
    position: relative;
    top: 100px;
}

.article{
    width: 80%;
    height: 140px;
    border: 1px solid green;
    margin-bottom: 1%;
    padding: 20px;
/*    position: relative;
    top: 50px;*/
}
.article a{
    text-decoration: none;
}

.guidang{
    width: 10%;
    height: 200px;
    border: 1px solid red;
    position: fixed;
    left: 60%;
    top: 150px;
    padding: 20px;
}
.guidang li{
    list-style: none;
    text-align: left;
}

.guidang a{
    text-decoration: none;
}

.footer{
/*    width: 80px;
    height: 80px;
    border: 1px solid red;*/
    margin-top: 20px;
    height: 100%;
    padding: 20px;
}

